*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Built application files
*.apk
*.ap_
*.aab

# User-specific UI states
*.iml
.idea/
.gradle/
**/build/

# Files for the Android Studio
/captures/
.externalNativeBuild/
.cxx/
local.properties
/build/